body{
  margin: 0;
  padding: 0;
  background: url(code.jpg) no-repeat center center fixed;
  background-color: lightgray;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@keyframes smoke {
    from {  transform: translateY(200px)    }
    to   {  transform: translateY(0px) }
}
.box{
  width: 850px;
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  margin-down: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
  animation-name: smoke;                /** Name der Animation **/
  animation-duration: 3s; 
  
}
.box-img{
  border-radius: 50%;
  width: 180px;
  height: 200px;

  
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
  
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}

.box li a:hover{
  color: #b9b9b9;
}

